body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 130px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 13px;
  margin-top: 20px;
}