input[type="radio"] {
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  outline: none;
  margin-right: 10px;
}

input[type="radio"]:checked::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  align-items: center;
  margin-left: 12px;
  margin-top: 12px;
}

label[for="gender_male"],
label[for="gender_female"] {
  display: flex;
  align-items: center;
  margin-right: -15px;
}

div {
  display: flex;
  position: relative;
  align-items: center;
  margin: 15px 0;
}

.input-example {
  position: absolute;
  font-size: 12px;
  color: #999;
  top: 100%;
  left: 20%;
}

label {
  display: flex;
  width: 150px;
  text-align: left;
  align-items: center;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  max-width: 650px;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

input#last_name {
  width: 200px;
}

input#first_name {
  width: 200px;
}

input#email {
  width: 440px;
}

input#postal_code {
  width: 410px;
}

input#address {
  width: 440px;
}

input#building {
  width: 440px;
}

.name1-example {
position: absolute;
top: 100%;
left: 28%;
font-size: 12px;
color: #999;
}

.name2-example {
  position: absolute;
  top: 100%;
  left: 68%;
  font-size: 12px;
  color: #999;
}

.email-example {
  position: absolute;
  top: 100%;
  left: 28%;
  font-size: 12px;
  color: #999;
}

.postcode-example {
  position: absolute;
  top: 100%;
  left: 55%;
  font-size: 12px;
  color: #999;
}

.address-example {
  position: absolute;
  top: 100%;
  left: 28%;
  font-size: 12px;
  color: #999;
}

.building_name-example {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(105%);
  font-size: 12px;
  color: #999;
}

.btn {
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 130px;
  height: 35px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

textarea {
  resize: none;
  width: 440px;
  height: 100px;
}
